header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 50px 0 15px 0;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-bar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin-left: 10px;
}

.info-bar__title {
  font-size: 40px;
  font-weight: bold;
}

.info-bar__icons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 45px;
}

.info-bar__icons img {
  margin-right: 10px;
}
